@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500;600;700&display=swap");

*,
html,
body {
  direction: rtl;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background: #ececec;
}
.container {
  width: 100%;
  padding: 0 13px;
  margin: 0 auto;
  max-width: 1170px;
}

.info {
  background: #d8d6d6;
  padding-top: 50px;
  /* padding: 50px 0; */
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  h1 {
    text-align: center;
    font-size: 2.2rem;
  }
  h2 {
    margin-top:20px;
    margin-bottom:10px;
    font-size: 1.2rem;
    color: #777;
    padding-right:20px;
  }
  p {
    padding: 7px;
    margin-top: 20px;
    border-radius: 2px;
    padding: 11px;
    font-weight: bold;
    background: #2196f3;
    color: #fff;
  }
}
.show-result {
  border-radius: 50px;
  border: 2px solid transparent;
  padding: 12px 20px;
  margin: 20px auto;
  display: block;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.2s ease-in;
  background: #2196f3;
  color: #fff;
  cursor:pointer;
  &:hover {
    background: #fff;
    color: #2196f3;
    border: 2px solid #2196f3;
  }
}

.details {
  background: #d8d6d6;
  padding:20px;
}
.rules {
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    padding: 5px;
    color: #2b2a2a;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background: #f1efef;
    -webkit-box-shadow: 0 2px 5px #9a9a9a85;
    box-shadow: 0 2px 5px #9a9a9a85;
    padding-right: 17px;
    }
  }
  ul {
    padding-right: 50px;
    li {
      padding: 5px;
      list-style: persian;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        right: 0;
        top: 0;
        transition: all 0.2s ease-in-out;
        background: #fbc51d5c;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}

// rating
.rating {
  width: fit-content;
}

.rating__star {
  cursor: pointer;
  color: #dabd18b2;
}
.boxes {
}
.box {
  padding: 10px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 10px 50px 10px 10px;
  margin-right: 0;
  transition: all 0.2s ease-in-out;
  justify-content: space-around;

  .num {
    position: absolute;
    top: 50%;
    font-size: 12px;
    right: 5px;
    transform: translateY(-50%);
    background: #9eff6257;
    padding: 3px 11px;
    color: #027707;
    border-radius: 20px;
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -15px;
      height: 3px;
      width: 20px;
      background: inherit;
    }
    &:after{
      height: 100%;
      top: 0;
      bottom: 0;
      width: 3px;
      left: -15px;
    }

    
  }
  &:visited,
  &:hover {
    box-shadow: 0px 4px 5px #31313133;
    background: #fff;
  }
}
.box-result {
  padding: 10px;
  display: flex;
  position: relative;
  overflow: hidden;
  // margin-bottom: 30px;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0 6px 5px #0000001a;
  border: 1px solid #ccc;
  text-align: center;
  transition: opacity.2s ease-in-out;
  pointer-events: unset;
  .box-col {
    display: flex;
    flex-direction: column;
    span {
      background: #d2f3bd8c;
      color: #4caf50;
      font-weight: bold;
      width: fit-content;
      margin: 0 auto;
      padding: 5px 10px;
      border-radius: 10px;
      border: 1px solid;
      margin-top: 5px;
      font-size: 12px;
    }
  }
  &:empty {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 767px) {
  .box.check {
    flex-direction: column;
    align-items: center;
    .box-col {
      flex-direction: column;
      align-items: flex-start;
      border: none;
      padding: 5px;
      strong {
        width: 120px;
      }
      .num {
        font-size: 18px;
      }
      .num:before {
        left: -10px;
      }
    }
  }
  .info {
    h1 {
      font-size: 1.5rem;
    }
    h2{
      
      font-size: 1rem;
      margin-top:20px;
    }
    p{
      font-size: .8rem;
    }
  }
  .container{
    padding:0;
  }
}

.results {
  border-radius: 5px;
  border: 2px solid #39f8d0;
  text-align: center;
  margin-bottom: 30px;
  min-width: 80%;
  max-width: 400px;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  .head {
    display: flex;
    justify-content: space-around;
    background: #8bc34a;
    padding: 11px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    border-bottom: 2px solid #029862;
    font-size: 22px;
  }
  ul {
    list-style: none;
    padding: 10px 0 20px;
    font-size: 19px;
    li {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 5px;
      .key {
        flex: 1;
      }
      .val {
        flex: 1;
        display: flex;
        flex-direction: column;
        span:first-child {
          background: #fff;
          border-radius: 20px;
          width: fit-content;
          display: block;
          margin: 0 auto;
          padding: 2px 25px;
        }
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background: #151414d6;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  &.show {
    opacity: 1;
    pointer-events: unset;
  }
  .fa-times {
    background: #ff222245;
    padding: 20px;
    border-radius: 50%;
    color: #f10;
    font-size: 20px;
    border: 1px solid;
    cursor: pointer;
    order: 2;
  }
}

.open-modal {
  padding: 15px 20px;
  border: 2px solid transparent;
  border-radius: 50px;
  margin: 20px auto;
  display: block;
  font-size: 20px;
  color: #232222;
  background: #72f321;
  transition: all .2s ease-in-out;
  cursor:pointer;
  &:hover {
    background: #fff;
    color: #72f321;
    border: 2px solid;
  }
}
