@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500;600;700&display=swap");

*,
html,
body {
  direction: rtl;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
}
.container {
  width: 100%;
  padding: 0 13px;
  margin: 0 auto;
  max-width: 1170px;
}

.info {
  margin-top: 20px;
  h1 {
    margin: 20px;
    text-align: center;
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.2rem;
    color: #777;
  }
  p {
    padding: 7px;
    margin-top: 20px;
    border-radius: 2px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding: 11px;
    color: #111;
    font-weight: bold;
  }
}
.table-responsive {
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
  box-shadow: 0 0 5px #0e0e0e21;
  margin-top: 20px;
  padding-top: 0;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 10px 0;
    padding: 5px 10px;
    &:nth-child(odd) {
      background: inherit;
    }
    .col:first-child {
      padding: 5px 10px;
      border-radius: 25px;
      background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      color: #fff;
    }
    &:last-child,
    &:first-child {
      background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      padding: 5px 10px;
      color: #fff;
      .col {
        background: none;
        border: none;
      }
    }
    &:last-child {
      .col:first-child {
      }
    }

    .col {
      text-align: center;
      label {
        font-weight: 500;
      }
      .active {
        border: 2px solid #2196f3;
        padding: 10px;
        border-radius: 7px;
        background: #2196f33d;
      }
      input[type="number"] {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: none;
        background: #ecebeb;
        color: #222;
        border: 2px solid transparent;
        border-bottom: 2px solid #ccc;
        transition: border 0.2s ease-in-out;
        &:focus {
          border: 2px solid #2196f3;
          outline: 0;
        }
      }
    }
  }
}

.show-result {
  border-radius: 50px;
  border: 2px solid transparent;
  padding: 12px 20px;
  margin: 20px auto;
  display: block;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.2s ease-in;
  &:hover {
    color: #2196f3;
    border: 2px solid #2196f3;
  }
}

.details {
  margin-top: 20px;
}
.rules {
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    padding: 5px;
    color: #2b2a2a;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background: #dedddd;
      -webkit-box-shadow: 0 2px 5px #9a9a9a85;
      box-shadow: 0 2px 5px #9a9a9a85;
      padding: 7px;
    }
  }
  ul {
    padding-right: 50px;
    li {
      padding: 5px;
      list-style: persian;
    }
  }
}

.design-two {
  background: #d2d2d2;
  .info p {
    background: #ff9;
  }
  .table-responsive {
    background: #fff;
    .row:nth-child(odd) {
      background: #e8e8e8;
    }
    .row:first-child,
    .row .col:first-child {
      background: #2196f3;
    }
    .row:last-child {
      // background: #3f51b5;
      background: #2196f3;
    }
  }
}

.table-result {
  background: #fff;

  .row-head {
    background: #2196f3;
    color: #fff;
    padding: 10px;
    display: flex;
    > .col {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #ccc;
      margin-left: 6px;
    }
    .row {
      flex: 1;
      display: flex;
      flex-direction: column;
      > .col {
        text-align: center;
      }
      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .row {
      .col {
      }
    }
  }
  .row-body {
    .row {
      margin:5px 0;
      display:flex;
      .col{
        flex:1;
        text-align:center;
      }
      .col:first-child {
        max-width: 150px;
      }
    }
  }
}
