@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500;600;700&display=swap");
*,
html,
body {
  direction: rtl;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef), to(#fecfef));
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.container {
  width: 100%;
  padding: 0 13px;
  margin: 0 auto;
  max-width: 1170px;
}

.info {
  margin-top: 20px;
}

.info h1 {
  margin: 20px;
  text-align: center;
  font-size: 2.2rem;
}

.info h2 {
  font-size: 1.2rem;
  color: #777;
}

.info p {
  padding: 7px;
  margin-top: 20px;
  border-radius: 2px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  padding: 11px;
  color: #111;
  font-weight: bold;
}

.table-responsive {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef), to(#fecfef));
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  -webkit-box-shadow: 0 0 5px #0e0e0e21;
          box-shadow: 0 0 5px #0e0e0e21;
  margin-top: 20px;
  padding-top: 0;
}

.table-responsive .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 10px 0;
  padding: 5px 10px;
}

.table-responsive .row:nth-child(odd) {
  background: inherit;
}

.table-responsive .row .col:first-child {
  padding: 5px 10px;
  border-radius: 25px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #fff;
}

.table-responsive .row:last-child, .table-responsive .row:first-child {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 5px 10px;
  color: #fff;
}

.table-responsive .row:last-child .col, .table-responsive .row:first-child .col {
  background: none;
  border: none;
}

.table-responsive .row .col {
  text-align: center;
}

.table-responsive .row .col label {
  font-weight: 500;
}

.table-responsive .row .col .active {
  border: 2px solid #2196f3;
  padding: 10px;
  border-radius: 7px;
  background: #2196f33d;
}

.table-responsive .row .col input[type="number"] {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: #ecebeb;
  color: #222;
  border: 2px solid transparent;
  border-bottom: 2px solid #ccc;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.table-responsive .row .col input[type="number"]:focus {
  border: 2px solid #2196f3;
  outline: 0;
}

.show-result {
  border-radius: 50px;
  border: 2px solid transparent;
  padding: 12px 20px;
  margin: 20px auto;
  display: block;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.show-result:hover {
  color: #2196f3;
  border: 2px solid #2196f3;
}

.details {
  margin-top: 20px;
}

.rules h2 {
  text-align: center;
  margin-bottom: 20px;
}

.rules p {
  padding: 5px;
  color: #2b2a2a;
  margin: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.rules p:hover {
  background: #dedddd;
  -webkit-box-shadow: 0 2px 5px #9a9a9a85;
  box-shadow: 0 2px 5px #9a9a9a85;
  padding: 7px;
}

.rules ul {
  padding-right: 50px;
}

.rules ul li {
  padding: 5px;
  list-style: persian;
}

.design-two {
  background: #d2d2d2;
}

.design-two .info p {
  background: #ff9;
}

.design-two .table-responsive {
  background: #fff;
}

.design-two .table-responsive .row:nth-child(odd) {
  background: #e8e8e8;
}

.design-two .table-responsive .row:first-child,
.design-two .table-responsive .row .col:first-child {
  background: #2196f3;
}

.design-two .table-responsive .row:last-child {
  background: #2196f3;
}

.table-result {
  background: #fff;
}

.table-result .row-head {
  background: #2196f3;
  color: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-result .row-head > .col {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #ccc;
  margin-left: 6px;
}

.table-result .row-head .row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-result .row-head .row > .col {
  text-align: center;
}

.table-result .row-head .row .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-result .row-body .row {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-result .row-body .row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.table-result .row-body .row .col:first-child {
  max-width: 150px;
}
/*# sourceMappingURL=style.css.map */